John Samana
Sure Trust(G34 - Python)

Question 1 (NumPy) – Titanic Dataset Survival Analysis
1. Load the Titanic dataset using Pandas and convert the following numeric columns into a
NumPy array:
o age, fare, and survived.
2. Using NumPy (not Pandas), perform the following:
o a) Remove rows with missing values in any of the selected columns.
o b) Normalize age and fare columns using Z-score normalization.
o c) Compute the mean age and mean fare for:
▪ passengers who survived
▪ passengers who did not survive
o d) Use np.where() to classify fare as:
▪ "Low" if fare < mean,
▪ "High" otherwise.

In [20]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip3.13 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd 
import numpy as np

In [29]:
# Load the Titanic dataset
titanic_data = pd.read_csv('//Users//johnsamana//Downloads//Python//Titanic-Dataset.csv')

In [30]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:

# Select the numeric columns and convert to NumPy array
columns = ['Age', 'Fare', 'Survived']
titanic_array = titanic_data[columns].to_numpy()

# Output
print(titanic_array)

[[22.      7.25    0.    ]
 [38.     71.2833  1.    ]
 [26.      7.925   1.    ]
 ...
 [    nan 23.45    0.    ]
 [26.     30.      1.    ]
 [32.      7.75    0.    ]]

In [32]:
# Remove rows with missing values
cleaned_data = titanic_array[~np.isnan(titanic_array).any(axis=1)]

# Output
print(cleaned_data)

[[22.      7.25    0.    ]
 [38.     71.2833  1.    ]
 [26.      7.925   1.    ]
 ...
 [19.     30.      1.    ]
 [26.     30.      1.    ]
 [32.      7.75    0.    ]]

In [33]:
# Z-score normalization
mean_age, std_age = cleaned_data[:, 0].mean(), cleaned_data[:, 0].std()
mean_fare, std_fare = cleaned_data[:, 1].mean(), cleaned_data[:, 1].std()

cleaned_data[:, 0] = (cleaned_data[:, 0] - mean_age) / std_age
cleaned_data[:, 1] = (cleaned_data[:, 1] - mean_fare) / std_fare

# Output
print(cleaned_data[:, :2])  # Normalized age and fare

[[-0.53037664 -0.51897787]
 [ 0.57183099  0.69189675]
 [-0.25482473 -0.50621356]
 ...
 [-0.73704057 -0.08877362]
 [-0.25482473 -0.08877362]
 [ 0.15850313 -0.50952283]]

In [13]:
# Split data by survival
survived = cleaned_data[cleaned_data[:, 2] == 1]
not_survived = cleaned_data[cleaned_data[:, 2] == 0]

# Compute means
mean_age_survived = survived[:, 0].mean()
mean_fare_survived = survived[:, 1].mean()

mean_age_not_survived = not_survived[:, 0].mean()
mean_fare_not_survived = not_survived[:, 1].mean()

# Output
print("Survived - Mean Age:", mean_age_survived, "Mean Fare:", mean_fare_survived)
print("Not Survived - Mean Age:", mean_age_not_survived, "Mean Fare:", mean_fare_not_survived)

Survived - Mean Age: -0.09337269255785864 Mean Fare: 0.3242830655233994
Not Survived - Mean Age: 0.06386339821174336 Mean Fare: -0.22179737972119304

In [14]:
# Classify fare
mean_fare = cleaned_data[:, 1].mean()
fare_classification = np.where(cleaned_data[:, 1] < mean_fare, "Low", "High")

# Output
print(fare_classification)

['Low' 'High' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low'
 'High' 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High'
 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'Low' 'High'
 'Low' 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'High'
 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'High' 'Low' 'Low'
 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'High'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'High' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'High' 'High'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'High'
 'High' 'Low' 'High' 'High' 'Low' 'High' 'High' 'High' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'High' 'Low'
 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'High' 'High' 'Low' 'High' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'High' 'High' 'Low'
 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High'
 'High' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low'
 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'High' 'Low'
 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'High' 'Low' 'Low' 'Low'
 'Low' 'High' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'High' 'High' 'Low' 'Low' 'Low' 'High' 'Low'
 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'High' 'High' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'High' 'Low' 'High' 'High' 'Low' 'High' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'High' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'High'
 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'High' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'Low'
 'Low' 'High' 'Low' 'Low' 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'Low'
 'High' 'High' 'High' 'Low' 'High' 'High' 'High' 'High' 'Low' 'Low' 'High'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'High' 'High' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'High' 'High' 'Low' 'Low'
 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low'
 'Low' 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'High'
 'High' 'High' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'High' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'Low' 'Low' 'High' 'Low' 'Low' 'Low' 'Low'
 'Low' 'Low' 'Low' 'Low' 'Low' 'Low']

Question 2 (Pandas) – Iris Dataset Summary Report
1. Load the Iris dataset using Pandas.
2. Create a new column called petal_ratio = petal_length / petal_width.
3. Answer the following:
o a) What is the average petal_ratio per species?
o b) Which species has the highest standard deviation in sepal_length?
o c) Filter the dataset to only include rows where sepal_width is above the overall
mean.
o d) Split the DataFrame into two subsets:
▪ One with petal_ratio < 2
▪ One with petal_ratio ≥ 2
▪ Then stack them vertically using pd.concat.

In [ ]:
# Load the Iris dataset
iris_data = pd.read_excel('//Users/johnsamana//Downloads//Python//iris.xlsx')

In [22]:
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
# Create petal_ratio column
iris_data['petal_ratio'] = iris_data['petal.length'] / iris_data['petal.width']

# Output
print(iris_data.head())

   sepal.length  sepal.width  petal.length  petal.width variety  petal_ratio
0           5.1          3.5           1.4          0.2  Setosa          7.0
1           4.9          3.0           1.4          0.2  Setosa          7.0
2           4.7          3.2           1.3          0.2  Setosa          6.5
3           4.6          3.1           1.5          0.2  Setosa          7.5
4           5.0          3.6           1.4          0.2  Setosa          7.0

In [25]:
# Average petal_ratio per species
average_petal_ratio = iris_data.groupby('variety')['petal_ratio'].mean()

# Output
print(average_petal_ratio)

variety
Setosa        6.908000
Versicolor    3.242837
Virginica     2.780662
Name: petal_ratio, dtype: float64

In [26]:
# Standard deviation of sepal_length per species
std_sepal_length = iris_data.groupby('variety')['sepal.length'].std()
highest_std_species = std_sepal_length.idxmax()

# Output
print("Species with highest std in sepal_length:", highest_std_species)

Species with highest std in sepal_length: Virginica

In [27]:
# Filter rows
mean_sepal_width = iris_data['sepal.width'].mean()
filtered_data = iris_data[iris_data['sepal.width'] > mean_sepal_width]

# Output
print(filtered_data)

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
148           6.2          3.4           5.4          2.3  Virginica

     petal_ratio
0       7.000000
2       6.500000
3       7.500000
4       7.000000
5       4.250000
..           ...
140     2.333333
141     2.217391
143     2.565217
144     2.280000
148     2.347826

[67 rows x 6 columns]

In [28]:
# Split data
subset_low = iris_data[iris_data['petal_ratio'] < 2]
subset_high = iris_data[iris_data['petal_ratio'] >= 2]

# Stack vertically
stacked_data = pd.concat([subset_low, subset_high])

# Output
print(stacked_data)

     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     petal_ratio
0       7.000000
1       7.000000
2       6.500000
3       7.500000
4       7.000000
..           ...
145     2.260870
146     2.631579
147     2.600000
148     2.347826
149     2.833333

[150 rows x 6 columns]